<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome to head of department page like admin</h1>
<a href="{% url 'stationregister' %}">station registration</a>
<a href="{% url 'labourregister' %}">labour registration</a>
<a href="{% url 'viewstations' %}">view stations</a>
<a href="{% url 'viewlabours' %}">view labours</a>
<a href="{% url 'criminallist'%}">view criminal list</a>
<a href="{% url 'send_notification' %}">send notification</a>

</body>
</html>