<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>criminal details registration </h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>full name:</label>
    <input type="text" name="fullname">
    <label>image: </label>
    <input type="file" name="image">
    <label>height:</label>
    <input type="number" name="height">
    <label>weight:</label>
    <input type="number" name="weight">
    <label>incident summary</label>
    <textarea name="incident_summary"></textarea>
    <label>offense</label>
    <input type="text" name="offenses">
    <input type="submit" value="submit">
</form>
</body>
</html>