{% extends 'labour/home.html' %}
{% load static %}

{% block body %}
<div class="form-container">
    <h2>Add or Edit Skills</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="skills">Your Skills</label>
            <textarea id="skills" name="skills" rows="5" required>{{ labour.skills }}</textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Save Skills">
        </div>
    </form>
</div>
{% endblock %}

