<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
</head>
<body>
{% if problem %}
    {% for issue in problem %}
        <label>Labour Name: </label>
        <p>{{ issue.labourer }}</p>
        <label>Problem: </label>
        <p>{{ issue.description }}</p>
        <label>Date: </label>
        <p>{{ issue.created_at }}</p>
        <a href="{% url 'edit_issue' issue.id %}">Edit</a>
        <a href="{% url 'delete_issue' issue.id %}">Delete</a>
    {% endfor %}
{% else %}
    <label>No issues to view</label>
{% endif %}
</body>
</html>
